ProcesosNocturnosSAI/Connected Services/PackagesExecutionService/PackagesExecutionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfPackagesExecution" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfPackagesExecution" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dc2tvdetl1:3078/PackagesExecutionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfVariable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="tns:Variable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariable" nillable="true" type="tns:ArrayOfVariable" />
  <xs:complexType name="Variable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Variable" nillable="true" type="tns:Variable" />
  <xs:complexType name="DTSResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DtsErrors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Fail" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTSResponse" nillable="true" type="tns:DTSResponse" />
</xs:schema>