ProcesosNocturnosSAI/Connected Services/PackagesExecutionService/PackagesExecutionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dc2tvdetl1:3078/PackagesExecutionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfPackagesExecution" />
  <xs:element name="ExecuteFromPackageFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idApp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packageFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packageConfigFileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfPackagesExecution" minOccurs="0" name="variables" nillable="true" type="q1:ArrayOfVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteFromPackageFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfPackagesExecution" minOccurs="0" name="ExecuteFromPackageFileResult" nillable="true" type="q2:DTSResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteFromCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idApp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packageFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfPackagesExecution" minOccurs="0" name="variables" nillable="true" type="q3:ArrayOfVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteFromCatalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfPackagesExecution" minOccurs="0" name="ExecuteFromCatalogResult" nillable="true" type="q4:DTSResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>