ProcesosNocturnosSAI/Connected Services/PackagesExecutionService/PackagesExecutionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PackagesExecutionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dc2tvdetl1:3078/PackagesExecutionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dc2tvdetl1:3078/PackagesExecutionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dc2tvdetl1:3078/PackagesExecutionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfPackagesExecution" />
      <xsd:import schemaLocation="http://dc2tvdetl1:3078/PackagesExecutionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPackagesExecutionService_ExecuteFromPackageFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteFromPackageFile" />
  </wsdl:message>
  <wsdl:message name="IPackagesExecutionService_ExecuteFromPackageFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteFromPackageFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPackagesExecutionService_ExecuteFromCatalog_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteFromCatalog" />
  </wsdl:message>
  <wsdl:message name="IPackagesExecutionService_ExecuteFromCatalog_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteFromCatalogResponse" />
  </wsdl:message>
  <wsdl:portType name="IPackagesExecutionService">
    <wsdl:operation name="ExecuteFromPackageFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPackagesExecutionService/ExecuteFromPackageFile" message="tns:IPackagesExecutionService_ExecuteFromPackageFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPackagesExecutionService/ExecuteFromPackageFileResponse" message="tns:IPackagesExecutionService_ExecuteFromPackageFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteFromCatalog">
      <wsdl:input wsaw:Action="http://tempuri.org/IPackagesExecutionService/ExecuteFromCatalog" message="tns:IPackagesExecutionService_ExecuteFromCatalog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPackagesExecutionService/ExecuteFromCatalogResponse" message="tns:IPackagesExecutionService_ExecuteFromCatalog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPackagesExecutionService" type="tns:IPackagesExecutionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteFromPackageFile">
      <soap:operation soapAction="http://tempuri.org/IPackagesExecutionService/ExecuteFromPackageFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteFromCatalog">
      <soap:operation soapAction="http://tempuri.org/IPackagesExecutionService/ExecuteFromCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PackagesExecutionService">
    <wsdl:port name="BasicHttpBinding_IPackagesExecutionService" binding="tns:BasicHttpBinding_IPackagesExecutionService">
      <soap:address location="http://dc2tvdetl1:3078/PackagesExecutionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>